/* Estilo para los encabezados */
h1 {
    color: #0055cc;
    font-size: 24px;
}
/* Estilo para los párrafos */
p {
    color: #333;
    font-size: 16px;
}
/* Estilo para los enlaces */
a {
    color: #ff9900;
    text-decoration: none;
}
    